body{
    text-align: center;
}


/* 
original img dimensions
height: 637 px width: 530 px
*/
.eye-parent{
    width: 530px;
    height: 637px;
    display: block;
}

.bg-img{
    width: 530px;
    height: 637px;
    display: block;
    position: absolute;
    background-image: url('eye-no-white.png');
}

/* 
original eye dimensions
height: 212 px width: 248 px
*/

.eye{
    margin-top: 150px;
    margin-left: 140px;
    width: 248px;
    height: 212px;
    position: absolute;
    z-index: -1;
    display: block;
    background-image: url('eye-iris.png');
}

